<div class="jumbotron">
  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img src="<%= image_path("grandma.png") %>"> 
    </div>
    <div class="col-md-4">
      <h3>Write a letter to grandma!</h3>
      <br>
      <h4>Choose from the following templates to write a sweet, funny or outrageous letter to grandma or any other available person of interest.</h4>
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
          Choose a letter! <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <!-- <li><a href="#">Dear Grandma</a></li>
            <li><a href="#">Dear Mr. President</a></li> -->
            <li><a href="<%= new_letter_path %>">Create your own</a></li>
        </ul>
        </div>
      </div> 
      <div class="col-md-2"></div>     
   </div>

</div>
<br>

