<h1>Letter Content</h1>

<!--<pre>
# @letter.content
</pre> -->

<h1>Letter Preview</h1>

<%= render 'letters/user_form', :letter => @letter %>



<!-- <h1>A Sample of a Filled In Letter Draft</h1> 
 render 'letters/user_draft', :letter => @letter %> -->